<ion-view title="contact">
    <ion-header-bar align-title="center" class="bar-calm">
        <a href="javascript:history.back();" class="button">返回</a>
        <h1 class="title">{{name}}</h1>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="row">
            <div class="col col-33">
                <img src="../img/user-online.png" alt="" width="100%">
            </div>
            <div class="col col-66">
                <p class="contact-name">姓名：{{name}}</p>
                <p class="contact-tel">电话：<a href="tel:{{tel}}">{{tel}}</a></p>
                <p class="contact-mobile">手机：<a href="tel:{{mobile}}">{{mobile}}</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <a href="sms:{{mobile}}" class="button button-block button-positive">短信</a>
            </div>
            <div class="col col-50">
                <a href="tel:{{mobile}}" class="button button-block button-positive">电话</a>
            </div>
        </div>
    </ion-content>
</ion-view>
