<ion-view title="login">
	<ion-header-bar align-title="center" class="bar-light">
		<a href="#/index" class="button">返回</a>
		<h1 class="title">平安工地</h1>
	</ion-header-bar>

	<ion-content padding="true">
		<div class="text-center padding">
			<img src="/img/appicon.png" alt="平安工地" width="64" height="64">
		</div>

		<div class="list list-inset">
			<label class="item item-input">
				<span class="input-label">用户名：</span>
				<input type="text" placeholder="请输入用户名">
			</label>
			<label class="item item-input">
				<span class="input-label">密码：</span>
				<input type="password" placeholder="请输入密码">
			</label>
		</div>

		<button class="button button-block button-positive">
			登 陆
		</button>
	</ion-content>
</ion-view>