<ion-view title="welcome">
    <ion-header-bar align-title="center" class="bar-light">
        <h1 class="title">平安工地</h1>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="text-center padding">
            <img src="/img/appicon.png" alt="平安工地" width="64" height="64">
        </div>

        <a href="#/login" class="button button-block button-positive button-50">
            交通部
        </a>

        <a href="#/login" class="button button-block button-positive button-50">
            地方主管
        </a>

        <a href="#/login" class="button button-block button-positive button-50">
            建设单位
        </a>

        <a href="#/login" class="button button-block button-positive button-50">
            监理单位
        </a>

        <a ui-sref="#/login" class="button button-block button-positive button-50">
            施工单位
        </a>

        
    </ion-content>
</ion-view>