<ion-view>
    <ion-header-bar align-title="center" class="bar-calm">
        <h1 class="title">监利至江陵高速公路项目第一合同段</h1>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="list user-status">
            <h2 class="item item-divider item-icon-left"><i class="icon ion-home"></i>用户在线状态</h2>

            <div class="item item-complex">
                <div class="row">
                    <div class="col col-20">
                        <a href="#/contact/0"><i class="user-online"></i>蹇元平</a>
                    </div>
                    <div class="col col-20">
                        <a href="#/contact/1"><i class="user-online"></i>龙海生</a>
                    </div>
                    <div class="col col-20">
                        <a href="#/contact/2"><i class="user-offline"></i>何红民</a>
                    </div>
                </div>
            </div>
        </div>

        <img id="myImage" alt="">

        <div class="list last-review">
            <div class="item item-divider item-icon-left"><i class="icon ion-clipboard"></i>上次考评（2014-07）</div>

            <div class="item item-icon-right"><i class="icon ion-chevron-right"></i>基础管理</div>
            <div class="item item-icon-right"><i class="icon ion-chevron-right"></i>施工现场</div>

            <div class="item item-divider">整改事项</div>
            <div class="item row row-center">
                <h3 class="col col-60">
                    1.未编制专项施工方案
                </h3>
                <h3 class="col col-20 balanced">
                    已整改
                </h3>
                <div class="col col-20">
                    
                </div>
            </div>
            <div class="item row row-center">
                <h3 class="col col-60">
                    2.开挖与支护不符
                </h3>
                <h3 class="col col-20 assertive">
                    未整改
                </h3>
                <div class="col col-20">
                    <button class="button button-small button-balanced">&nbsp;&nbsp;验收&nbsp;&nbsp;</button>
                </div>
            </div>
            <div class="item row row-center">
                <h3 class="col col-60">
                    3.消防通道不满足要求
                </h3>
                <h3 class="col col-20 assertive">
                    未整改
                </h3>
                <div class="col col-20">
                    <button class="button button-small button-balanced">&nbsp;&nbsp;验收&nbsp;&nbsp;</button>
                </div>
            </div>

        </div>

    </ion-content>

    <ion-footer-bar class="bar-positive">
        <div class="row" style="padding-top: 0;padding-bottom: 0;">
            <button class="button col" ng-click="toReview()">考核评价</button>
            <button class="button col" ng-click="toScore()">自评得分</button>
            <button class="button col" ng-click="toReport()">报送</button>
        </div>
    </ion-footer-bar>
</ion-view>