.button-50 {
    margin-left: auto;
    margin-right: auto;

    width: 65% !important;
}

.tab-item {
    font-weight: bold;
}

.user-status .item-icon-left, .last-review .item-icon-left {
    padding-left: 40px;
}

.user-status .item .icon, .last-review .item .icon {
    font-size: 22px;
}

.user-status .item-complex {
    padding: 3px 5px 0px 5px;
}

.user-status .item .row {
    padding: 0;
    font-size: 13px;
}

.user-online {
    display: block;
    width: 32px;
    height: 32px;
    background: url("../img/user-online.png");
    background-size: 32px 32px;
}

.user-offline {
    display: block;
    width: 32px;
    height: 32px;
    background: url("../img/user-offline.png");
    background-size: 32px 32px;
}

.last-review .item h3 {
    margin: 0;
}